<!DOCTYPE html>
<html lang="eng">

<!--CSCE 242 Project part 4 Webpage Written by Rick Jiang -->

<head>
  <title>Project Part 4-Pictures, text, and Colors</title>
  <link rel="stylesheet" href="css/style.css" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

{{> navbar}}
  <div class="spacer"></div>
  <main id="main-content" class="family-events family-events2">
    <div class="attraction-html "></div>

    <h2>Deals</h2>

    <div class="layout ">

      <h3>Travel Plans Deals & Discounts in Seattle,Washington </h3>
      <form class="deals-form ">

        <input type="text" placeholder="From..." />
        <input type="text" placeholder="To..." />

        <div>
          <button type="submit">SEARCH</button>
          <button type="reset">RESET</button>
        </div>
      </form>
    </div>



  </main>
  <footer>
    @Copyright 2024 || SeaHawk
  </footer>
</body>

</html>