<!DOCTYPE html>
<html lang="eng">

<!--CSCE 242 Project part 6 Webpage Written by Rick Jiang -->

<head>
    <title>Project Part 6 </title>
    <link rel="stylesheet" href="css/style.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/recreations.css">
</head>


<body>

  
     {{> navbar}}
    <div class="spacer"></div>

    <main id="main-content">
        <div class="attraction-html "></div>
        <h2 class="heading">Sport & Outdoor Recreation</h2>
        <div class="layout">

            <div class="main">
                <ul class="cards">
                    <li class="cards_item" id="item_salad">
                        <div class="card">
                            <!-- <div class="card_price">$9</div> -->
                            <div class="card_image"><img
                                    src="https://snowbrains.com/wp-content/uploads/2020/12/stevens-pass.jpg"
                                    alt="mixed vegetable salad in a mason jar. "></div>
                            <div class="card_content">
                                <h2 class="card_title"><a href="https://www.stevenspass.com/">Stevens Pass Mountain
                                        Resort</a></h2>
                                <div class="card_text">
                                    <p>Stevens Pass Mountain Resort, located in Washington State, USA, offers a variety
                                        of winter sports
                                        activities, including skiing and snowboarding, across a diverse terrain suitable
                                        for different
                                        skill levels.
                                    </p>

                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="cards_item" id="item_salad">
                        <div class="card">
                            <!-- <div class="card_price">$9</div> -->
                            <div class="card_image"><img src="https://wallpapercave.com/wp/wp10311115.jpg"
                                    alt="mixed vegetable salad in a mason jar. "></div>
                            <div class="card_content">
                                <h2 class="card_title"><a href="https://runforgoodracingcompany.com/">

                                        Run For Good Racing Company</a></h2>
                                <div class="card_text">
                                    <p>The Run for Good Racing Company is dedicated to organizing unique and accessible
                                        running and
                                        walking events in the Pacific Northwest, with a strong focus on charitable
                                        giving. Each event is
                                        designed to benefit a specific community organization, aligning with
                                        their mission to contribute positively to individuals' lives through promoting
                                        health, exercise,
                                        and community involvement in a fun manner.
                                    </p>

                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="cards_item" id="item_salad">
                        <div class="card">
                            <!-- <div class="card_price">$9</div> -->
                            <div class="card_image"><img
                                    src="https://www.througheternity.com/upload/CONF83/20230920/san_nicola_carcere_underground_2-tSa-730X490.jpeg"
                                    alt="mixed vegetable salad in a mason jar. "></div>
                            <div class="card_content">
                                <h2 class="card_title"><a href="https://www.beneath-the-streets.com/">

                                        Beneath the Streets</a></h2>
                                <div class="card_text">
                                    <p>Beneath the Streets" could refer to a variety of topics depending on the context,
                                        including
                                        historical tours of underground city passages, novels, or even documentaries
                                        exploring what lies
                                        underneath urban landscapes. For instance, in Seattle, Washington, there's a
                                        famous tour called
                                        "Bill Speidel's Underground Tour"
                                    </p>

                                </div>
                            </div>
                        </div>
                    </li>


                </ul>
            </div>


        </div>
    </main>
    <footer>
        @Copyright 2024 || SeaHawk
    </footer>
</body>
</div>

</html>