  <nav id="main-menu">
    <ul>
      <div class="nav-dropdown display-block-responsive">
        <button class="home-btn"><a href="/">Home</a></button>
      </div>

      <div class="nav-dropdown">
        <button>Things to do</button>
        <div class="content">
          <a href="/attractions">Attractions</a>
          <a href="/recreations">Sport & Outdoor Recreations </a>
          <a href="/history">History & Hertiage</a>
        </div>
      </div>
      <div class="nav-dropdown">
        <button>Eat & Drink</button>
        <div class="content">
          <a href="/afford">Afford Restaurant</a>
          <a href="/dining">Neigborhood Dining </a>
        </div>
      </div>
      <div class="nav-dropdown">
        <button>Events</button>
        <div class="content">
          <a href="/events">Family Events</a>
          <a href="/things">Things to do this week </a>
        </div>
      </div>
      <div class="nav-dropdown">
        <button>Plan Your Visit</button>
        <div class="content">
          <a href="/faq">FAQS</a>
          <a href="/contact">Contact us </a>
          <a href="/form-data">Contact Data</a>
          <a href="/plans">Travel Plans</a>
        </div>

      </div>
      <div class="drop">
        <img src="/images/burger-menu-right-svgrepo-com.svg" alt="">
        <div class="dropdown-mobile">
          <a href="/attractions">Attractions</a>
          <a href="/recreations">Sport& Outdoor Recreations </a>
          <a href="/history">History & Hertiage</a>
          <a href="/afford">Afford Restaurant</a>
          <a href="/dining">Neigborhood Dining </a>
          <a href="/events">Family Events</a>
          <a href="/things">Things to do this week </a>
          <a href="/faq">FAQS</a>
          <a href="/contact">Contact us </a>
           <a href="/form-data">Contact Data</a>
          <a href="/plans">Travel Plans</a>
        </div>
      </div>

    </ul>
  </nav>